*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::after,
*::before {
    content: '';
}

body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #545454;
    background-color: #f9f7f3;
}

body::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 83, 89, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

body.engo-overlay::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 768px) {
    body::after {
        display: none;
    }
}

.brand_menu ul li {
    display: inline-block;
}

.brand_menu ul li a {
    padding: 0 10px;
}

a {
    color: #dc4646;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

p {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 20px;
    line-height: 1.3;
    color: #101010;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

header {
    position: relative;
    text-align: center;
    background-color: #fff;
}

.header-inner {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    display: inline-block;
}

header h1 {
    color: #dc4646;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-size: 1.25rem;
}

@media only screen and (min-width: 1024px) {
    header h1 {
        font-size: 36px;
        font-size: 2.25rem;
        font-weight: 300;
    }
}

.engo-faq {
    max-width: 1170px;
    margin: 2em auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
}

.engo-faq:after {
    content: "";
    display: table;
    clear: both;
}

.top-logo {
    padding: 30px 0;
    margin-bottom: 50px;
}

.brand_logo,
.brand_menu {
    width: 50%;
    float: left;
}

.brand_menu a {
    color: #dc4646;
    font-size: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.brand_menu a:hover {
    color: #FF5200;
}

.intro-theme img {
    width: 100%;
    margin-bottom: -2px;
}

.theme_doc {
    padding-block: 40px;
}

.theme_doc h1 {
    font-size: 33px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-transform: none;
    margin: 0 0 0px;
}

.theme_doc p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: none;
}

.theme_doc h1 span {
    color: #dc4646;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .engo-faq {
        position: relative;
        margin: 4em auto;
        box-shadow: none;
    }
}

.engo-faq-categories a {
    position: relative;
    display: block;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0 28px 0 16px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #010101;
    white-space: nowrap;
    border-bottom: 1px solid #e4e4e4;
    text-overflow: ellipsis;
}

.engo-faq-categories a::before,
.engo-faq-categories a::after {
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 1px;
    width: 10px;
    background-color: #bfbfbf;
}

.engo-faq-categories a::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.engo-faq-categories li {
    margin-top: 0;
}

.engo-faq-categories li:last-child a {
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .engo-faq-categories {
        width: 20%;
        float: left;
        border: 1px solid #e4e4e4;
        padding-left: 0px;
    }

    .engo-faq-categories a {
        font-size: 14px;
        font-weight: 700;
        padding-left: 24px;
        padding: 0 24px;
        text-transform: uppercase;
        -webkit-transition: background 0.2s, padding 0.2s;
        -moz-transition: background 0.2s, padding 0.2s;
        transition: background 0.2s, padding 0.2s;
    }

    .engo-faq-categories a::before,
    .engo-faq-categories a::after {
        display: none;
    }

    .no-touch .engo-faq-categories a:hover {
        background: #555b61;
    }

    .no-js .engo-faq-categories {
        width: 100%;
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1024px) {
    .engo-faq-categories {
        position: absolute;
        top: 0;
        left: 0;
        width: 240px;
        z-index: 2;
    }

    .engo-faq-categories a::before {
        display: block;
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #bfbfbf;
        opacity: 0;
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .engo-faq-categories li a:hover,
    .engo-faq-categories .selected {
        background: #e4e4e4 !important;
    }

    .engo-faq-categories .selected::before {
        opacity: 1;
    }

    .engo-faq-categories.is-fixed {
        position: fixed;
    }

    .no-js .engo-faq-categories {
        position: relative;
    }
}

.engo-faq-items {
    position: fixed;
    height: 100%;
    width: 90%;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 5% 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) translateX(100%);
    -moz-transform: translateZ(0) translateX(100%);
    -ms-transform: translateZ(0) translateX(100%);
    -o-transform: translateZ(0) translateX(100%);
    transform: translateZ(0) translateX(100%);
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    transition: transform .3s;
}

.engo-faq-items.slide-in {
    -webkit-transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    -ms-transform: translateZ(0) translateX(0%);
    -o-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
}

.no-js .engo-faq-items {
    position: static;
    height: auto;
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

@media only screen and (min-width: 768px) {
    .engo-faq-items {
        position: static;
        height: auto;
        width: 78%;
        float: right;
        overflow: visible;
        -webkit-transform: translateZ(0) translateX(0);
        -moz-transform: translateZ(0) translateX(0);
        -ms-transform: translateZ(0) translateX(0);
        -o-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        padding: 0;
        background: transparent;
    }
}

@media only screen and (min-width: 1024px) {
    .engo-faq-items {
        float: none;
        width: 100%;
        padding-left: 240px;
    }

    .no-js .engo-faq-items {
        padding-left: 0;
    }
}

.engo-close-panel {
    position: fixed;
    top: 5px;
    right: -100%;
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    transition: right 0.4s;
}

.engo-close-panel::before,
.engo-close-panel::after {
    position: absolute;
    top: 16px;
    left: 12px;
    display: inline-block;
    height: 3px;
    width: 18px;
    background: #6c7d8e;
}

.engo-close-panel::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.engo-close-panel::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.engo-close-panel.move-left {
    right: 2%;
}

@media only screen and (min-width: 768px) {
    .engo-close-panel {
        display: none;
    }
}

.engo-faq-group {
    display: none;
}

.engo-faq-group.selected {
    display: block;
}

.engo-faq-group .engo-faq-title {
    background: transparent;
    box-shadow: none;
    margin: 1em 0;
}

.no-touch .engo-faq-group .engo-faq-title:hover {
    box-shadow: none;
}

.engo-faq-group .engo-faq-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #5c6368;
    font-size: 17px;
    letter-spacing: 0.2em;
}

.no-js .engo-faq-group {
    display: block;
}

@media only screen and (min-width: 768px) {
    .engo-faq-group {
        display: block;
    }

    .engo-faq-group>li {
        background: #ffffff;
        margin-bottom: 6px;
    }

    .engo-faq-group>li:not(.engo-faq-title) {
        border: 1px solid #e4e4e4;
    }

    .no-touch .engo-faq-group>li:hover {
        box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
    }

    .engo-faq-group .engo-faq-title {
        margin: 2em 0 1em;
    }

    .engo-faq-group:first-child .engo-faq-title {
        margin-top: 0;
    }
}

.engo-faq-trigger {
    position: relative;
    display: block;
    margin: 1.6em 0 .4em;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) {
    .engo-faq-trigger {
        color: #010101;
        font-size: 25px;
        letter-spacing: 0.2em;
        line-height: normal;
        text-transform: uppercase;
        padding: 24px 72px 24px 24px;
        margin: 0;
        font-weight: 300;
    }

    .engo-faq-trigger::before,
    .engo-faq-trigger::after {
        position: absolute;
        right: 24px;
        top: 50%;
        height: 2px;
        width: 13px;
        background: #5c6368;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }

    .engo-faq-trigger::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 32px;
    }

    .engo-faq-trigger::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .content-visible .engo-faq-trigger::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .content-visible .engo-faq-trigger::after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .content-visible .engo-faq-trigger {
        background-color: #e4e4e4;
        color: #474b4c;
        margin-bottom: 25px;
    }
}

.engo-faq-content {
    font-size: 15px;
    line-height: 1.5;
    color: #101010;
}

.engo-faq-content img {
    max-width: 100%;
    padding: 6px;
    box-shadow: 0 0px 7px rgba(108, 125, 142, 0.2);
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .engo-faq-content {
        display: none;
        padding: 0 24px 30px;
    }

    .engo-faq-content p {
        line-height: 1.5;
    }

    .no-js .engo-faq-content {
        display: block;
    }
}

.engo-faq-content p:last-child {
    margin-bottom: 0;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    box-shadow: 0 0px 7px rgba(108, 125, 142, 0.2);
    border: 1px solid #e0e0e0;
    margin: 20px 0px;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.theme_doc {
    clear: both;
    display: block;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul,
ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

ol {}

ul li,
ol li {
    margin-top: 15px;
}

i {
    font-style: italic;
}

.container {
    margin: auto;
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
}

.w50 {
    width: 50%;
    float: left;
}

.engo-faq {
    margin-bottom: 100px;
}

footer {
    background: #1c1e26;
    padding: 30px 0;
    overflow: hidden;
}

footer p {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 300;
    margin: 0;
    padding: 15px 0;
}

footer .social ul {
    margin: 0;
    padding: 0;
}

footer .social li {
    display: inline-block;
    margin: 0;
}

footer .social li a {
    height: 40px;
    width: 40px;
    display: block;
}

footer .social li:nth-child(1) a {
    background: url(../images/social-fb.png) no-repeat center center;
}

footer .social li:nth-child(2) a {
    background: url(../images/social-tw.png) no-repeat center center;
}

footer .social li:nth-child(3) a {
    background: url(../images/social-ins.png) no-repeat center center;
}

footer .social li:nth-child(4) a {
    background: url(../images/social-yt.png) no-repeat center center;
}

@media only screen and (max-width: 767px) {
    .w50 {
        width: 100%;
        text-align: center;
    }

    .engo-faq-categories {
        padding: 0;
    }
}